$image-height: 380px;

.no-book-preview {
  height: $image-height;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book {
  height: 100%;

  .book-preview {
    height: $image-height;
    object-fit: cover;
  }

  .card-subtitle {
    margin-top: 0;
  }
}

